.main {
  flex-grow: 1;
}
.hero {
  color: #333333;
  .container {
    padding: {
      top: 6.7rem;
      bottom: 7.4rem;
    }
    display: flex;
    align-items: center;
  }
  &__info {
    width: 576px;
    padding-right: 2.5rem;
    margin-right: 12rem;
  }
  &__title {
    font-size: 39px;
    line-height: 45px;
    margin-bottom: 11px;
  }
  &__descr {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 4.5rem;
  }
  &__btn {
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: $white-color;
  }
  &__wrapper {
    padding: {
      top: 0;
      bottom: 7px;
    }
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    margin-bottom: 2.3rem;
    box-shadow: 25px 25px 55px rgba(128, 125, 125, 0.568);
  }
}
.partners {
  background-color: #d3d3d3;
  .container {
    padding: 5rem 0;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 6.7rem;
  }
}
.class {
  background-color: $white-color;
  color: $black-color;
  padding: {
    top: 5rem;
    bottom: 7.2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    li {
      display: flex;
      gap: 18.8rem;
      align-items: center;
    }
    li:nth-child(even) {
      .class__info {
        order: 5;
      }
    }
  }
  &__info {
    width: 51rem;
  }
  &__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 1.4rem;
  }
  &__descr {
    font-size: 15px;
    line-height: 24px;
  }
  &__img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    &--descr {
      font-size: 12px;
      line-height: 21px;
      color: #777777;
    }
  }
}
